.search-bar-section {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 100vh;
    height: 60px;
    background: white;
    border-radius: 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 0 25px;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    color: #555;
    background: transparent;
}

.search-bar input::placeholder{
    color: #ccc
}

img.search-button {
    width: 35px;
    height: auto;
    cursor: pointer;
}