<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.ringo.community.mapperJava.CommunityMapper">


    <insert id="writePost" parameterType="PostVO">
        INSERT INTO post (
            post_title, post_content, post_type, user_primary_id
        ) VALUES (
            #{postTitle}, #{postContent}, #{postType}, #{userPrimaryId}
        )
    </insert>

    <select id="getPost" resultType="PostVO">
        SELECT *
        FROM post
        <where>
            <choose>
                <when test="category != null and category != '' and category != '전체'">
                    post_type = #{category}
                </when>
                <otherwise>
                    post_type in ('자유', '홍보', '질문')
                </otherwise>
            </choose>
        </where>
        ORDER BY post_id DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="getPostCount" resultType="Integer">
        SELECT count(*)
        FROM post
        <where>
            <choose>
                <when test="category != null and category != '' and category != '전체'">
                    post_type = #{category}
                </when>
                <otherwise>
                    post_type in ('자유', '홍보', '질문')
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="getOnePost" resultType="PostVO">
        select
            p.*,
            u.user_nick_name
        from
            post as p
                JOIN
            users as u
            ON p.user_primary_id = u.user_primary_id
        where p.post_id = #{post_id};
    </select>

    <select id="writeComment" parameterType="CommentVO">
        INSERT INTO comment(
            comment_content, comment_depth, comment_parent_id, post_id, user_primary_id
        )
        VALUES (
            #{commentContent}, #{commentDepth}, #{commentParentId}, #{postId}, #{userPrimaryId}
        )
    </select>

    <select id="getAllComments" resultType="PostVO">
        SELECT
            c.*,
            u.user_nick_name
        FROM
            COMMENT as c
        JOIN
            users as u
        ON
            c.user_primary_id = u.user_primary_id
        WHERE
            post_id = #{postId}
    </select>

</mapper>