<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.ringo.qna.mapperJava.QnaMapper">

    <resultMap id="qnaMap" type="com.example.ringo.command.QnaVo">
        <id property="qnaPostId" column="qna_post_id"/>
        <result property="qnaPostTitle" column="qna_post_title"/>
        <result property="qnaPostContent" column="qna_post_content"/>
        <result property="qnaPostDate" column="qna_post_date"/>
        <result property="userPrimaryId" column="user_primary_id"/>
        <result property="qnaPostAnswerContent" column="qna_post_answer_content"/>
    </resultMap>

    <insert id="insertQna" parameterType="com.example.ringo.command.QnaVo">
        INSERT INTO qna_post (
            qna_post_title,
            qna_post_content,
            qna_post_date,
            user_primary_id
        )
        VALUES (
                   #{qnaPostTitle},
                   #{qnaPostContent},
                   NOW(),
                   #{userPrimaryId}
               )
    </insert>

    <select id="getQnaList" resultType="com.example.ringo.command.QnaVo">
        SELECT * FROM qna_post ORDER BY qna_post_id DESC
    </select>

    <select id="getQnaListPaging" resultMap="qnaMap">
        SELECT * FROM qna_post
        WHERE qna_post_title ILIKE CONCAT('%', #{keyword}, '%')
        ORDER BY qna_post_id DESC
            LIMIT #{amount} OFFSET #{start}
    </select>

    <select id="getTotalQnaCount" resultType="int">
        SELECT COUNT(*) FROM qna_post
        WHERE qna_post_title ILIKE CONCAT('%', #{keyword}, '%')
    </select>




</mapper>