<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.ringo.users.mapperJava.UsersMapper">

    <select id="usersVOList" resultType="com.example.ringo.command.UsersVO">
        SELECT user_primary_id,
               user_id,
               user_pw,
               user_name
        FROM users
    </select>

    <insert id="signup" parameterType="com.example.ringo.command.UsersVO">
        INSERT INTO users (
            user_id, user_pw, user_name, user_nick_name, user_birth, user_profile, user_phone, user_email, user_gender, user_age, user_interest
        ) VALUES (
                     #{userId}, #{userPw}, #{userName}, #{userId}, #{userBirth}, #{userProfile}, #{userPhone}, #{userEmail}, #{userGender}, #{userAge}, #{userInterest}
                 )
    </insert>


    <select id="countByUserId" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM users WHERE user_id = #{userId}
    </select>


</mapper>